<div class="row project-description">
  <div class="col-md-12">
    <h2>Element.</h2>
    <p>Mobile design and brand identity roll out for a popular musical event (student project).<br>
      <b>#sensual #modern #creative #entertaining #attractive #bright</b></p>
  </div>  
</div>

<div class="project-showcase">

  <img src="assets/element3.jpg" width="100%" />

  <img src="assets/element.jpg" width="100%" />

  <img src="assets/element4.jpg" width="100%" />

  <img src="assets/element5.jpg" width="100%" />

  <img src="assets/element6.jpg" width="100%" />

  <img src="assets/elem.jpg" width="100%" />

  <img src="assets/elemennt.jpg" width="100%" />

</div>