<style type="text/css">
  .Collage {
    padding: 10px;
  }
  .homepage-footer {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 30px;
    font-size: 14px;
  }
</style>
<script type="text/javascript">

  // all images need to be loaded for this plugin to work so
  // we end up waiting for the whole window to load in this example
  $(window).load(function () {
    $(document).ready(function() {
      // from http://ed-lea.github.io/jquery-collagePlus/
      $('.Collage').removeWhitespace().collagePlus({
        'fadeSpeed'           : 20000,
        'targetHeight'        : 200,
        'effect'              : 'effect-2',
        'direction'           : 'vertical',
        'allowPartialLastRow' : true
      });
      $('.Collage').collageCaption();

      returningVisitor = $.cookie("returningVisitor");
      
      if (returningVisitor) {
        // skip to the homepage collage
        $('#homepage-logo').hide();
        $('#homepage-collage').show();
        $('.homepage-footer').show();
      } else {
        // show the hero logo first
        $('.homepage-footer').hide();
        $('#homepage-collage').hide();
        $('#homepage-logo').click(function(event) {
          event.preventDefault();
          $('.homepage-footer').show();
          $('#homepage-logo').hide();
          $('#homepage-collage').show();
          $.cookie("returningVisitor", "1");
        });
      }
      
    });
  });

  // handles situation when browser window is resized
  var resizeTimer = null;
  $(window).bind('resize', function() {
      // hide all the images until we resize them
      $('.Collage .Image_Wrapper').css("opacity", 0);
      // set a timer to re-apply the plugin
      if (resizeTimer) clearTimeout(resizeTimer);
      resizeTimer = setTimeout(collage, 200);
  });

</script>

<a href="#" id='homepage-logo'>
  <img src="assets/irina-logo.jpg" width="40%" class="img-responsive center-block" style="margin-top: 50px" />
</a>

<div id='homepage-collage'>

  <section class="Collage effect-parent" id='homepage-collage'>

    <img src="assets/irina-logo.jpg" width="100px" class="" style="margin-top: 5px" />

    <div class="Image_Wrapper effect-4 effect-duration-1" data-caption="" style="width: 400px; height: 178px; margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom; overflow: hidden; opacity: 0;">
      <a href="peak.html"><img src="assets/peak2b.png" style="width: 580px; height: 258px;"></a>
    </div>

    <div class="Image_Wrapper effect-4 effect-duration-1" style="width: 307px; height: 178px; margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom; overflow: hidden; opacity: 0;">
      <a href="bfi.html"><img src="assets/bfi3a.png" style="width: 512px; height: 355px;"></a>
    </div>
    
    <div class="Image_Wrapper effect-4 effect-duration-1" data-caption="" style="width: 190px; height: 178px; margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden; opacity: 0;">
      <a href="becoming.html"><img src="assets/becomingbrand-thumb-a.png" style="width: 375px; height: 375px;"></a>
    </div>
    
    <div class="Image_Wrapper effect-4 effect-duration-2" data-caption="" style="width: 122px; height: 130px; margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom; overflow: hidden; opacity: 0;">
      <a href="herman.html"><img src="assets/hm3a.png" style="width: 110px; height: 118px;"></a>
    </div>
    
    <div class="Image_Wrapper effect-4 effect-duration-2" data-caption="" style="width: 188px; height: 130px; margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom; overflow: hidden; opacity: 0;">   <a href="vega.html"><img src="assets/vega2a.png" style="width: 735px; height: 516px;"></a></div>

    <div class="Image_Wrapper effect-4 effect-duration-2" data-caption="" style="width: 168px; height: 130px; margin-bottom: 10px; margin-right: 10px; display: inline-block; vertical-align: bottom; overflow: hidden; opacity: 0;"><a href="element.html"><img src="assets/elem-a.png" style="width: 689px; height: 441px;"></a></div>

    <div class="Image_Wrapper effect-4 effect-duration-2" data-caption="" style="width: 204px; height: 130px; margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden; opacity: 0;">
      <a href="webespy.html"><img src="assets/webespy-a.png" style="width: 627px; height: 572px;"></a
        >
    </div>

    <div class="Image_Wrapper effect-4 effect-duration-2" data-caption="" style="width: 204px; height: 130px; margin-bottom: 10px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden; opacity: 0;">
      <a href="felix.html"><img src="assets/felix-a.png" style="width: 230px; height: 230px;"></a
        >
    </div>

  </section>

</div><!-- end homepage-collage -->

<div class="homepage-footer">
  <a href="http://www.linkedin.com/in/irinamanning" target="_blank">about</a>
</div>