<style type='text/css'>
  .project-description {
    padding: 0px 20px;
    color: #666;
  }
</style>

<div class="row project-description">
  <div class="col-md-12">
    <h2>Unnamed Peak</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  </div>  
</div>

<img src="assets/peak.jpg" width="100%" />

<img src="assets/peak2.jpg" width="100%" />