<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IrinaManning.com</title>

    <!-- Bootstrap -->
    <link href="assets/bootstrap.min.css" rel="stylesheet">
    <link href="assets/transitions.css" rel="stylesheet">

    <style type='text/css'>
      .project-description {
        margin-bottom: 50px;
        color: #666;
      }
      .project-showcase img { 
        max-width: 800px;
        margin-bottom: 50px;
      }
      a {
        color: #333;
      }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="assets/jquery-2.1.1.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>

    <script src="assets/jquery.collagePlus.min"></script>
    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/jquery.removeWhitespace.min.js"></script>
    <script src="assets/jquery.collageCaption.min.js"></script>
    <script src="assets/jquery.cookie.js"></script>
  </body>
</html>